<html>
    <head>
        <title>HTML Pandas Dataframe with CSS</title>
        <link rel="stylesheet" type="text/css" href="static\df_style.css"/>
        <link rel="stylesheet" type="text/css" href="static\buttons_style.css"/>
    </head>
    <body>
        <img src="/static/banner.jpg" width="100%" height="250vw" alt="banner">
        <br>
        <h1 style="text-align:center">COVID-19 CASES IN INDIA</h1>
        <div>
            <p style="text-align:center">Data for {date} </p>
            {table}
            <form>
                <button formaction="/">Home Page</button>
            </form>
        </div>
    </body>
</html>